<% if @resumes.length > 0 %>
  <div class="col-md-10 col-md-offset-1 page-title">
    <h1 style="color:#333"><sapn class="fa fa-envelope-o"></sapn> 投递过的职位</h1>
  </div>
  <div class="col-md-10 col-md-offset-1 job-content">
    <div class="main-box">
    <% @resumes.each do |resume| %>
    <div class="col-md-9 job-box">
      <div class="info">
        <div class="info-top">
          <h3><%= link_to(resume.job.name, job_path(resume.job))%></h3><span style="font-size:14px">投递时间：<%= resume.created_at.strftime("%Y-%m-%d %T") %></span>
        </div>
        <div class="info-mid">
          <%= resume.job.wage_lower_bound %> k ~ <%= resume.job.wage_upper_bound %> k
        </div>
        <div class="info-bot">
          <span><%= resume.job.category %></span>
        </div>
      </div>
      <div class="company">
        <div class="company-top">
          <span><%= link_to(resume.job.company, job_path(resume.job))%></span>
        </div>
        <div class="company-mid">
          <sapn class="fa fa-envelope"></sapn><span><%= resume.job.contact_mail %></span>
        </div>
        <div class="company-bot">
          <sapn class="fa fa-map-marker"></sapn><span><%= resume.job.location %></span>
        </div>
      </div>
    </div>
    <% end %>
    </div>
    <div class="col-md-3 side-box">
      <div class="col-md-10 col-md-offset-1">
        <div class="suggest-title">
          <sapn class="fa fa-tags"></sapn> <span>职位推荐</span>
        </div>
        <% @suggests.each do |job| %>
        <div class="suggest-content">
          <div>
            <h3>
              <%= link_to job_path(job), target: "_blank" do %>
                <%= job.name %> [<%= job.location %>]
              <% end %>
            </h3>
          </div>
          <div><p><%= job.wage_lower_bound %> k ~ <%= job.wage_upper_bound %> k</p></div>
          <div><span><%= job.company %></span></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1 job-bottom">
    <div class="text-center">
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
<% else %>
  <div class="col-md-12 job-limit-box text-center">
    <h2>你还没投递过任何职位哦！</h2><br />
    <p><%= link_to("立即查看职缺", jobs_path, class: "btn btn-lg btn-success") %></p>
  </div>
<% end %>
