<div class="col-md-10 col-md-offset-1 job-content">
  <div class="row">
    <div class="col-md-12 btn-group select-job-box">
    <!--=== 工作地点下拉选单 ===-->
    <div class="dropdown btn-group clearfix">
      <% if params[:location].present? %>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= params[:location] %> <span class="caret"></span>
      </button>
      <% else %>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        工作城市 <span class="caret"></span>
      </button>
      <% end %>
      <ul class="dropdown-menu" selection aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("北京", jobs_path(:location => "北京")) %>
        </li>
        <li>
          <%= link_to("上海", jobs_path(:location => "上海")) %>
        </li>
        <li>
          <%= link_to("深圳", jobs_path(:location => "深圳")) %>
        </li>
        <li>
          <%= link_to("广州", jobs_path(:location => "广州")) %>
        </li>
        <li>
          <%= link_to("杭州", jobs_path(:location => "杭州")) %>
        </li>
        <li>
          <%= link_to("成都", jobs_path(:location => "成都")) %>
        </li>
        <li>
          <%= link_to("香港", jobs_path(:location => "香港")) %>
        </li>
        <li>
          <%= link_to("海外", jobs_path(:location => "海外")) %>
        </li>
        <li>
          <%= link_to("所有城市", jobs_path(:location => "所有城市") ) %>
        </li>
      </ul>
    </div>

    <!--=== 职位类型下拉选单 ===-->
    <div class="dropdown btn-group clearfix">
      <% if params[:category].present? %>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= params[:category] %> <span class="caret"></span>
      </button>
      <% else %>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        职位类型 <span class="caret"></span>
      </button>
      <% end %>
      <ul class="dropdown-menu" selection aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("技术", jobs_path(:category => "技术")) %>
        </li>
        <li>
          <%= link_to("产品", jobs_path(:category => "产品")) %>
        </li>
        <li>
          <%= link_to("设计", jobs_path(:category => "设计")) %>
        </li>
        <li>
          <%= link_to("运营", jobs_path(:category => "运营")) %>
        </li>
        <li>
          <%= link_to("市场", jobs_path(:category => "市场")) %>
        </li>
        <li>
          <%= link_to("销售", jobs_path(:category => "销售")) %>
        </li>
        <li>
          <%= link_to("职能", jobs_path(:category => "职能")) %>
        </li>
        <li>
          <%= link_to("其他", jobs_path(:category => "其他")) %>
        </li>
        <li>
          <%= link_to("所有类型", jobs_path(:category => "所有类型") ) %>
        </li>
      </ul>
    </div>

    <!--=== 月薪下拉选单 ===-->
    <div class="dropdown btn-group clearfix">
      <% if params[:wage].present? %>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= params[:wage] %> <span class="caret"></span>
      </button>
      <% else %>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        月薪 <span class="caret"></span>
      </button>
      <% end %>
      <ul class="dropdown-menu" selection aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("5k以下", jobs_path(:wage => "5k以下")) %>
        </li>
        <li>
          <%= link_to("5~10k", jobs_path(:wage => "5~10k")) %>
        </li>
        <li>
          <%= link_to("10~15k", jobs_path(:wage => "10~15k")) %>
        </li>
        <li>
          <%= link_to("15~25k", jobs_path(:wage => "15~25k")) %>
        </li>
        <li>
          <%= link_to("25k以上", jobs_path(:wage => "25k以上")) %>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <!--=== 工作列表 ===-->
  <div class="row">
  <% if @jobs.length > 0 %>
    <% @jobs.each do |job| %>
    <div class="col-md-9 col-xs-12 job-box">
      <!--=== 职位信息 ===-->
      <div class="col-md-6 col-xs-12 info">
        <div class="info-top">
          <h3><%= link_to(job.name, job_path(job), target: "_blank" )%></h3><span><%= job.created_at.strftime("%Y-%m-%d") %></span>
        </div>
        <div class="info-mid">
          <%= job.wage_lower_bound %> k ~ <%= job.wage_upper_bound %> k
        </div>
        <div class="info-bot">
          <span class="category"><span class="<%= render_job_category(job) %>"> <%= job.category %></span>
        </div>
      </div>

      <!--=== 公司信息 ===-->
      <div class="col-md-6 col-xs-12 company">
        <div class="company-top">
          <span><%= link_to(job.company, job_path(job))%></span>
          <% if current_user && current_user.is_member_of?(job) %>
            <%= link_to remove_job_path(job), method: :post do %>
              <sapn class="fa fa-star"></sapn>
            <% end %>
          <% else %>
            <%= link_to add_job_path(job), method: :post do %>
              <sapn class="fa fa-star-o"></sapn>
            <% end %>
          <% end %>
        </div>
        <div class="company-mid">
          <sapn class="fa fa-envelope"></sapn><span><%= job.contact_mail %></span>
        </div>
        <div class="company-bot">
          <sapn class="fa fa-map-marker"></sapn><span><%= job.location %></span>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <!--=== 没有职位资料 ===-->
    <div class="col-md-9 col-xs-12 no-job-data">
      <h2>此分类暂时没有招聘职位哦，请尝试其他选项。</h2>
    </div>
  <% end %>


    <!--=== 职位推荐：随机推荐五个职位 ===-->
    <div class="col-md-3 side-box">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 suggest-title">
              <sapn class="fa fa-tags"></sapn> <span>职位推荐</span>
            </div>
            <div class="row">
            <% @suggests.each do |job| %>
            <div class="col-xs-10 col-xs-offset-1 suggest-content">
              <div>
                <h3>
                  <%= link_to job_path(job), target: "_blank" do %>
                    <%= job.name %> [<%= job.location %>]
                  <% end %>
                </h3>
              </div>
              <div><p><%= job.wage_lower_bound %> k ~ <%= job.wage_upper_bound %> k</p></div>
              <div><span><%= job.company %></span></div>
            </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--=== 分页区块 ===-->
<div class="col-md-10 col-md-offset-1 job-bottom">
  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>
</div>
