<div class="col-md-10 col-md-offset-1 job-content">
  <% @jobs.each do |job| %>
  <div class="col-md-9 job-box">
    <div class="info">
      <div class="info-top">
        <h3><%= link_to(job.name, job_path(job))%></h3><span><%= job.created_at.strftime("%Y-%m-%d") %></span>
      </div>
      <div class="info-mid">
        <%= job.wage_lower_bound %> k ~ <%= job.wage_upper_bound %> k
      </div>
      <div class="info-bot">
        <span><%= job.category %></span>
      </div>
    </div>
    <div class="company">
      <div class="company-top">
        <span><%= link_to(job.company, job_path(job))%></span>
        <% if current_user && current_user.is_member_of?(job) %>
          <%= link_to remove_job_path(job), method: :post do %>
            <sapn class="fa fa-star"></sapn>
          <% end %>
        <% else %>
          <%= link_to add_job_path(job), method: :post do %>
            <sapn class="fa fa-star-o"></sapn>
          <% end %>
        <% end %>
      </div>
      <div class="company-mid">
        <sapn class="fa fa-envelope"></sapn><span><%= job.contact_mail %></span>
      </div>
      <div class="company-bot">
        <sapn class="fa fa-map-marker"></sapn><span><%= job.location %></span>
      </div>
    </div>
  </div>
  <% end %>
  <div class="col-md-3 side-box"></div>
</div>
<div class="col-md-10 col-md-offset-1 job-bottom">
  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>
</div>
