<!--=== 搜索结果，没有符合条件的数据 ===-->
<% if @jobs.blank?%>
<div class="col-md-10 col-md-offset-1">
  <div class="search-error">
    <h2>没有符合搜索条件的资料哦！</h2><br />
    <p><%= link_to("立即查看工作", jobs_path, class: "btn btn-lg btn-success") %></p>
  </div>
</div>
<% else %>
<!--=== 搜索结果，有符合条件的数据 ===-->
  <!--=== 搜索结果文字 ===-->
<div class="col-md-10 col-md-offset-1 page-title">
  <h1><span class="fa fa-search"></span> 搜索结果</h1>
</div>

<!--=== 搜索结果内容 ===-->
<div class="col-md-10 col-md-offset-1 job-content">
  <div class="row">
    <!--=== 左侧区块 ===-->
    <% @jobs.each do |job| %>
    <div class="col-md-9 col-xs-12 job-box">
      <!--=== 职位信息 ===-->
      <div class="col-md-6 col-xs-12 info">
        <div class="info-top">
          <h3><%= link_to(job.name, job_path(job), target: "_blank" )%></h3><span><%= job.created_at.strftime("%Y-%m-%d") %></span>
        </div>
        <div class="info-mid">
          <%= job.wage_lower_bound %> k ~ <%= job.wage_upper_bound %> k
        </div>
        <div class="info-bot">
          <span class="category"><span class="<%= job.category.icon %>"> <%= job.category.name %></span>
        </div>
      </div>

      <!--=== 公司信息 ===-->
      <div class="col-md-6 col-xs-12 company">
        <div class="company-top">
          <span><%= link_to(job.company, job_path(job))%></span>
          <% if current_user && current_user.is_member_of?(job) %>
            <%= link_to remove_job_path(job), method: :post do %>
              <span class="fa fa-star"></span>
            <% end %>
          <% else %>
            <%= link_to add_job_path(job), method: :post do %>
              <span class="fa fa-star-o"></span>
            <% end %>
          <% end %>
        </div>
        <div class="company-mid">
          <span class="fa fa-envelope"></span><span><%= job.contact_mail %></span>
        </div>
        <div class="company-bot">
          <span class="fa fa-map-marker"></span><span><%= job.location.name %></span>
        </div>
      </div>
    </div>
    <% end %>

    <!--=== 职位推荐：随机推荐五个职位 ===-->
    <div class="col-md-3 side-box">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 suggest-title">
              <span class="fa fa-tags"></span> <span>职位推荐</span>
            </div>
            <div class="row">
            <% @suggests.each do |job| %>
            <div class="col-xs-10 col-xs-offset-1 suggest-content">
              <div>
                <h3>
                  <%= link_to job_path(job), target: "_blank" do %>
                    <%= job.name %> [<%= job.location.name %>]
                  <% end %>
                </h3>
              </div>
              <div><p><%= job.wage_lower_bound %> k ~ <%= job.wage_upper_bound %> k</p></div>
              <div><span><%= job.company %></span></div>
            </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--=== 换页区块 ===-->
<div class="col-md-10 col-md-offset-1 job-bottom">
  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>
</div>
<% end %>
