<h1> <%= @job.name %></h1>

<p>
  <%= simple_format(@job.content) %>
  <%= @job.created_at.strftime("%Y-%m-%d") %> 发布于职赢网
</p>


<div class="text-center">
  <% if current_user && current_user.is_member_of?(@job) %>
    <%= link_to remove_job_path(@job), method: :post, class: "btn btn-lg btn-primary" do %>
      <sapn class="glyphicon glyphicon-star"></sapn> 已收藏
    <% end %>
  <% else %>
    <%= link_to add_job_path(@job), method: :post, class: "btn btn-lg btn-primary" do %>
      <sapn class="glyphicon glyphicon-star-empty"></sapn> 收藏
    <% end %>
  <% end %>
  <%= link_to("投递简历", new_job_resume_path(@job), class: "btn btn-lg btn-primary") %>
</div>
