    <body data-spy="scroll" data-target=".nav-top">
        <!--======== intro =========-->
        <section class="intro">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="intro-content">
                        <h1>职赢网 - 最专业的互联网招聘网站</h1>
                        <p>来自全球五百大企业，及国内一流互联网团队</p>
                        <!-- <a class="btn btn-default" href="#" role="button">Read More</a></a> -->
                        <a class="btn btn-primary-welcome" href="jobs" role="button">立即开始</a></a>
                        <div><i class="fa fa-caret-down"></i></div>
                    </div>
                </div>
            </div>
        </section>
        <!--======== end intro =========-->

         <!--======== our sponsors =========-->
        <section class="our-sponsors">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="sponsors">
                            <div class="single-slide text-center"><%= image_tag("converse.png") %></div>
                            <div class="single-slide text-center"><%= image_tag("google.png") %></div>
                            <div class="single-slide text-center"><%= image_tag("instagram.png") %></div>
                            <div class="single-slide text-center"><%= image_tag("microsoft.png") %></div>
                            <div class="single-slide text-center"><%= image_tag("converse.png") %></div>
                            <div class="single-slide text-center"><%= image_tag("google.png") %></div>
                            <div class="single-slide text-center"><%= image_tag("instagram.png") %></div>
                            <div class="single-slide text-center"><%= image_tag("microsoft.png") %></div>
                            <div class="single-slide text-center"><%= image_tag("converse.png") %></div>
                            <div class="single-slide text-center"><%= image_tag("google.png") %></div>
                            <div class="single-slide text-center"><%= image_tag("instagram.png") %></div>
                            <div class="single-slide text-center"><%= image_tag("microsoft.png") %></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--======== end recent evnt =========-->

        <!--======== Our Services =========-->
        <section id="service" class="what-we-do">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="section-title">服务优势</h2>
                        <!-- <div class="border"><span class="border-l-r"><span class="glyphicon glyphicon-chevron-down"></span></span></div> -->
                        <p class="section-para">最好的工作，来自最优秀的团队。</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="do-box">
                                    <i class="lnr lnr-inbox"><span class="glyphicon glyphicon-king"></span></i>
                                    <h3>优质职缺</h3>
                                    <p>职赢网与全国顶尖企业合作，内有海量优秀职缺，加入一流团队及潜力项目不是梦想。</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="do-box">
                                    <i class="lnr lnr-cog"><span class="glyphicon glyphicon-queen"></span></i>
                                    <h3>快速反馈</h3>
                                    <p>拥有业界最快速的反馈机制，三天内保证回复。</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="do-box">
                                    <i class="lnr lnr-leaf"><span class="glyphicon glyphicon-pawn"></span></i>
                                    <h3>美观模版</h3>
                                    <p>自动生成优质简历模版，快速获得企业青睐。</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="do-box">
                                    <i class="lnr lnr-leaf"><span class="glyphicon glyphicon-bishop"></span></i>
                                    <h3>线下聚会</h3>
                                    <p>不定期于各大城市举办线下分享会，提供最新产业资讯及发展走向。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--======== end Our Services =========-->

        <!--======== our Genius =========-->
        <section id="genius" class="our-experts">
            <div class="container">
                <div class="row">
                  <div class="row">
                      <div class="col-md-6 col-md-offset-3 text-center">
                          <h2 class="section-title">互联网一流职缺</h2>
                          <p>科技，始终来自于人性。</p>
                      </div>
                  </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="expert-box">
                                    <%= image_tag("category_1.png") %>
                                    <div class="text-center">
                                        <h3 class="expert-name">技术</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="expert-box">
                                    <%= image_tag("category_2.png") %>
                                    <div class="text-center">
                                        <h3 class="expert-name">产品</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="expert-box">
                                    <%= image_tag("category_3.png") %>
                                    <div class="text-center">
                                        <h3 class="expert-name">设计</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="expert-box">
                                    <%= image_tag("category_4.png") %>
                                    <div class="text-center">
                                        <h3 class="expert-name">运营</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="expert-box">
                                    <%= image_tag("category_5.png") %>
                                    <div class="text-center">
                                        <h3 class="expert-name">市场</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="expert-box">
                                    <%= image_tag("category_6.png") %>
                                    <div class="text-center">
                                        <h3 class="expert-name">销售</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="expert-box">
                                    <%= image_tag("category_7.png") %>
                                    <div class="text-center">
                                        <h3 class="expert-name">职能</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="expert-box">
                                    <%= image_tag("category_8.png") %>
                                    <div class="text-center">
                                        <h3 class="expert-name">所有职缺</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--======== end our Genius =========-->

        <!--======== Testimonials =========-->
        <section id="testimonial" class="talk-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                        <h2 class="section-title">用户反馈</h2>
                        <!-- <div class="border"><span class="border-l-r"><i class="fa fa-quote-right"></i></span></div> -->

                        <div id="talk-about-us" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#talk-about-us" data-slide-to="0" class="active"></li>
                                <li data-target="#talk-about-us" data-slide-to="1"></li>
                                <li data-target="#talk-about-us" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <p>职赢网是我用过最方便的招聘网站，能快速筛选到理想中的工作，并且与业界一流的团队取得联系。现在我已经加入梦寐以求的企业，强烈推荐各位使用。</p>
                                    <%= image_tag("user_1.png") %>
                                    <strong>Kevin , 介面设计师</strong>
                                </div>
                                <div class="item">
                                    <p>Facebook、Airbnb、Google，全球最顶尖公司的职缺，这里都有！每天都有来自各领域的上百新职缺，可以说是市面上最厉害的招聘网站！</p>
                                    <%= image_tag("user_3.png") %>
                                    <strong>Tiffany , 数据工程师 </strong>
                                </div>
                                <div class="item">
                                    <p>庞大的人才数据库，让我在搭建新团队时能快速找到一流高手，简易又好上手的后台让我省去许多麻烦，专注于挖掘人才。</p>
                                    <%= image_tag("user_2.png") %>
                                    <strong>Rex , 产品总监 </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--======== End Testimonial =========-->
        <br /><br /><br />
        <div class="text-center">
          <a class="btn btn-default-welcome" href="jobs" role="button">立即开始</a></a>
        </div>
        <br /><br /><br />
        <!--======== support =========-->
        <section class="support">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="media-list">
                            <div class="media">
                                <div class="media-left">
                                    <%= image_tag("r-ball.png") %>3
                                </div>
                                <div class="media-body">
                                    <strong>意见反馈</strong>
                                    <p>有任何问题请洽 <a href="mailto:jimmy576@qq.com">jimmy576@qq.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media-list">
                            <div class="media">
                                <div class="media-left">
                                    <%= image_tag("r-truck.png") %>
                                </div>
                                <div class="media-body">
                                    <strong>更多职缺</strong>
                                    <p>请订阅电子报，以获得更多职缺信息。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media-list">
                            <div class="media">
                                <div class="media-left">
                                    <%= image_tag("r-gift.png") %>
                                </div>
                                <div class="media-body">
                                    <strong>服务项目</strong>
                                    <p>更多功能敬请期待。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--======== end support =========-->
        <br /><br /><br />
    </body>
</html>
