    <body data-spy="scroll" data-target=".nav-top">
        <!--======== Intro =========-->
        <section class="intro">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="intro-content">
                        <h1>职赢网 - 最专业的互联网招聘网站</h1>
                        <p>来自全球五百大企业，及国内一流互联网团队</p>
                        <a class="btn btn-primary-welcome" href="jobs" role="button">立即开始</a></a>
                    </div>
                </div>
            </div>
        </section>
        <!--======== end Intro =========-->

        <!--======== Feature =========-->
        <section id="feature" class="our-experts">
            <div class="container">
                <div class="row">
                  <div class="row">
                      <div class="col-md-6 col-md-offset-3 text-center">
                          <h2 class="section-title">遇见更好的机会，体验更精彩的人生</h2>
                          <div class="short-line"></div>
                          <p class="index-contect">
                            职赢网由全球知名连续创业者Stan Lee创立。<br />
                            我们利用硅谷最新演算法，分析全球一流互联网团队需求，及卓越求职者的信息，创立了独一无二的配对模式，让优秀企业与人才的连结更为精准、快速。
                          </p>
                          <%= image_tag("feature.png") %>
                      </div>
                  </div>

                </div>
            </div>
        </section>
        <!--======== end Feature =========-->


        <!--======== Services =========-->
        <section id="service" class="what-we-do">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="section-title">服务优势</h2>
                        <div class="short-line"></div
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="do-box">
                                    <%= image_tag("s_analytics.png") %>
                                    <h3>优质职缺</h3>
                                    <p>职赢网与全国顶尖企业合作，内有海量优秀职缺，只要你有实力，加入一流团队不再是梦想。</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="do-box">
                                    <%= image_tag("s_time.png") %>
                                    <h3>快速反馈</h3>
                                    <p>数据化的招聘流程，让我们拥有业界最快速的反馈机制，求职应聘不再干著急。</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="do-box">
                                    <%= image_tag("s_file.png") %>
                                    <h3>美观模版</h3>
                                    <p>你知道怎样的简历最容易获得HR青睐吗？职赢网免费提供最科学化的模版，让你的优势一览无遗。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--======== end Services =========-->

        <!--======== Category =========-->
        <section id="genius" class="our-experts">
            <div class="container">
              <div class="col-md-8 col-md-offset-2">
                <div class="row">
                  <div class="row">
                      <div class="col-md-6 col-md-offset-3 text-center">
                          <h2 class="section-title">热门职位</h2>
                          <div class="short-line"></div>
                      </div>
                  </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 category-list">
                              <%= link_to jobs_path(:category => "技术") , class: "category_1" do %>
                                <div class="expert-box">
                                    <%= image_tag("category_01.png") %>
                                </div>
                                <div>
                                  <h3>技术</h3>
                                  <p>Technology</p>
                                </div>
                              <% end %>
                            </div>
                            <div class="col-md-3 category-list">
                              <%= link_to jobs_path(:category => "产品") , class: "category_2" do %>
                                <div class="expert-box">
                                    <%= image_tag("category_02.png") %>
                                </div>
                                <div>
                                  <h3>产品</h3>
                                  <p>Product</p>
                                </div>
                              <% end %>
                            </div>
                            <div class="col-md-3 category-list">
                              <%= link_to jobs_path(:category => "设计") , class: "category_3" do %>
                                <div class="expert-box">
                                    <%= image_tag("category_03.png") %>
                                </div>
                                <div>
                                  <h3>设计</h3>
                                  <p>Design</p>
                                </div>
                              <% end %>
                            </div>
                            <div class="col-md-3 category-list">
                              <%= link_to jobs_path(:category => "运营") , class: "category_4" do %>
                                <div class="expert-box">
                                    <%= image_tag("category_04.png") %>
                                </div>
                                <div>
                                  <h3>运营</h3>
                                  <p>Operation</p>
                                </div>
                              <% end %>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                          <div class="col-md-3 category-list">
                            <%= link_to jobs_path(:category => "市场") , class: "category_5" do %>
                              <div class="expert-box">
                                  <%= image_tag("category_05.png") %>
                              </div>
                              <div>
                                <h3>市场</h3>
                                <p>Marketing</p>
                              </div>
                            <% end %>
                          </div>
                          <div class="col-md-3 category-list">
                            <%= link_to jobs_path(:category => "销售") , class: "category_6" do %>
                              <div class="expert-box">
                                  <%= image_tag("category_06.png") %>
                              </div>
                              <div>
                                <h3>销售</h3>
                                <p>Sales</p>
                              </div>
                            <% end %>
                          </div>
                          <div class="col-md-3 category-list">
                            <%= link_to jobs_path(:category => "职能") , class: "category_7" do %>
                              <div class="expert-box">
                                  <%= image_tag("category_07.png") %>
                              </div>
                              <div>
                                <h3>职能</h3>
                                <p>Office</p>
                              </div>
                            <% end %>
                          </div>
                          <div class="col-md-3 category-list">
                            <%= link_to jobs_path , class: "category_all" do %>
                              <div class="expert-box">
                                  <%= image_tag("category_08.png") %>
                              </div>
                              <div>
                                <h3>所有职位</h3>
                                <p>All Jobs</p>
                              </div>
                            <% end %>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </section>
        <!--======== end Category =========-->

        <!--======== User Feeback =========-->
        <section id="testimonial" class="talk-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                        <h2 class="section-title">用户反馈</h2>
                        <div class="short-line"></div>
                        <div id="talk-about-us" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#talk-about-us" data-slide-to="0" class="active"></li>
                                <li data-target="#talk-about-us" data-slide-to="1"></li>
                                <li data-target="#talk-about-us" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <p>职赢网是我用过最方便的招聘网站，能快速筛选到理想中的工作，市面上的顶尖公司都在里面。现在我已经加入梦寐以求的团队，强烈推荐各位使用。</p>
                                    <%= image_tag("user_1.png") %>
                                    <strong>Edward , 介面设计师</strong>
                                </div>
                                <div class="item">
                                    <p>Facebook、Airbnb、Google，全球最顶尖公司的职缺，这里都有！而且更新非常快，每天都有新职缺，可以说是市面上最厉害的招聘网站！</p>
                                    <%= image_tag("user_3.png") %>
                                    <strong>Kelly , 数据工程师 </strong>
                                </div>
                                <div class="item">
                                    <p>庞大的人才数据库，让我在搭建新团队时能快速找到一流高手，简易又好上手的后台让我省去许多麻烦，可以专注于挖掘人才。</p>
                                    <%= image_tag("user_2.png") %>
                                    <strong>Rex , 产品总监 </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--======== end User Feeback =========-->

        <!--======== Brand =========-->
        <section id="brand" class="our-brand">
            <div class="container">
                <div class="row">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-1 text-center">
                          <h2 class="section-title">合作伙伴</h2>
                          <div class="short-line"></div>
                          <%= image_tag("google.png") %>
                          <%= image_tag("instagram.png") %>
                          <%= image_tag("facebook.png") %>
                          <%= image_tag("airbnb.png") %>
                          <%= image_tag("amazon.png") %>
                          <%= image_tag("flickr.png") %>
                          <%= image_tag("twitter.png") %>
                          <%= image_tag("linkedIn.png") %>
                          <%= image_tag("palantir.png") %>
                      </div>
                  </div>
                </div>
            </div>
        </section>
        <!--======== end Brand =========-->
        <div class="goTop">
            <a href="#"><span class="fa fa-chevron-up"></span></a>
        </div>
        <!--======== Start =========-->
        <section class="support">
            <div class="container">
                <div class="row">
                    <a class="btn btn-primary-welcome" href="jobs" role="button">立即开始</a></a>
                </div>
            </div>
        </section>
        <!--======== end Start =========-->
    </body>
</html>
