<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for [:admin,@job] do |f| %>
    <div class="form-group">
      <%= f.input :name, label: '职位名称', placeholder: '职位名称', input_html: { class: "form-control"} %>
      <%= f.input :content, label: '职位描述', placeholder: '职位描述', input_html: { class: "form-control"} %>
      <%= f.input :company, label: '公司名称', placeholder: '公司名称', input_html: { class: "form-control"} %>
      <% if @job.category? %>
        <%= f.input :category, :label => "职位类型", :collection => ["技术", "产品", "设计", "运营", "市场", "销售", "职能", "其他"], :checked => @job.category %>
      <% else %>
        <%= f.input :category, :label => "职位类型", :collection => ["技术", "产品", "设计", "运营", "市场", "销售", "职能", "其他"] %>
      <% end %>
      <% if @job.location? %>
        <%= f.input :location, :label => "工作地点", :collection => ["北京", "上海", "深圳", "广州", "杭州", "成都", "香港", "海外"] , :checked => @job.location %>
      <% else %>
        <%= f.input :location, :label => "工作地点", :collection => ["北京", "上海", "深圳", "广州", "杭州", "成都", "香港", "海外"] %>
      <% end %>
      <%= f.input :wage_lower_bound, label: '薪资下限', input_html: { class: "form-control"} %>
      <%= f.input :wage_upper_bound, label: '薪资上限', input_html: { class: "form-control"} %>
      <%= f.input :contact_mail, label: '联系方式', placeholder: 'user@domain.com', input_html: { class: "form-control"} %>
      <%= f.input :is_hidden, label: '隐藏职缺' %>
    </div>
    <div class="form-actions text-center">
      <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
