<div class="col-md-12">
  <div class="job">
    <%= link_to("新增职位", new_admin_job_path, class: "btn btn-primary pull-right action-btn") %>
  </div>
  <div class="admin-job-box">
<% if @jobs.length > 0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>招聘职位</td>
        <td>职位类型</td>
        <td>公司名称</td>
        <td>工作地点</td>
        <td>薪资范围</td>
        <td>简历数量</td>
        <td>发布时间</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr class="job-list">
        <td class="title"><span class="<%= render_job_status(job) %>"></span> <%= link_to(job.name, job_path(job)) %></td>
        <td><span class="<%= render_job_category(job) %>"> <%= job.category %></td>
        <td><%= job.company %></td>
        <td><sapn class="fa fa-map-marker"></sapn> <%= job.location %></td>
        <td class="wage"><%= render_job_wage(job) %></td>
        <td><%= link_to admin_job_resumes_path(job) do %><sapn class="<%= render_job_resumes(job) %>"></sapn> <%= job.resumes.count %><% end %></td>
        <td><%= job.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <!--=== 修改/删除/隐藏/显示 ===-->
          <div class="action-box">
          <%= link_to(edit_admin_job_path(job), class: "btn btn-md btn-default") do %>
            <sapn class="fa fa-pencil"></sapn>
          <% end %>
          <%= link_to(admin_job_path(job), class: "btn btn-md btn-default", method: :delete, data: { confirm: "确定删除此职位？" } ) do%>
            <sapn class="fa fa-trash-o"></sapn>
          <% end %>
          <% if job.is_hidden %>
            <%= link_to(publish_admin_job_path(job), :method => :post, class: "btn btn-md btn-default show-btn") do %>
              <sapn class="fa fa-eye"></sapn>
            <% end %>
          <% else %>
            <%= link_to(hide_admin_job_path(job), :method => :post, class: "btn btn-md btn-default") do %>
              <sapn class="fa fa-eye-slash"></sapn>
            <% end %>
          <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3 class="no-data">目前尚未发布任何职位哦，赶快去新增吧。</h3>
<% end %>
  </div>
  <div class="col-md-12 job-bottom">
    <div class="text-center">
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
