<div class="col-md-12">
  <div class="job">
    <%= link_to("新增职缺", new_admin_job_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>职缺</td>
        <td>类型</td>
        <td>薪资</td>
        <td>公司</td>
        <td>地点</td>
        <td>联系方式</td>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td>#</td>
        <td><span class="<%= render_job_status(job) %>"></span> <%= link_to(job.name, job_path(job)) %></td>
        <td><%= job.category %></td>
        <td><%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %></td>
        <td><%= job.company %></td>
        <td><%= job.location %></td>
        <td><%= job.contact_mail %></td>
        <td>
          <%= link_to("编辑", edit_admin_job_path(job), class: "btn btn-sm btn-default")%>
          <%= link_to("删除", admin_job_path(job), class: "btn btn-sm btn-default", method: :delete, data: { confirm: "确定删除此职缺?" } )%>
          <% if job.is_hidden %>
            <%= link_to("显示", publish_admin_job_path(job), :method => :post, class: "btn btn-sm btn-default")%>
          <% else %>
            <%= link_to("隐藏", hide_admin_job_path(job), :method => :post, class: "btn btn-sm btn-default")%>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
