<% if @collections.length > 0 %>
<div class="col-md-10 col-md-offset-1 page-title">
  <h1><sapn class="fa fa-gift"></sapn> 我收藏的职位</h1>
</div>
<div class="col-md-10 col-md-offset-1 job-content">
  <div class="main-box">
  <% @collections.each do |collection| %>
  <div class="col-md-9 job-box">
    <div class="info">
      <div class="info-top">
        <h3><%= link_to(collection.job.name, job_path(collection.job))%></h3><span><%= collection.job.created_at.strftime("%Y-%m-%d") %></span>
      </div>
      <div class="info-mid">
        <%= collection.job.wage_lower_bound %> k ~ <%= collection.job.wage_upper_bound %> k
      </div>
      <div class="info-bot">
        <span class="category"><span class="<%= render_job_category(collection.job) %>"> <%= collection.job.category %></span>
      </div>
    </div>
    <div class="company">
      <div class="company-top">
        <span><%= link_to(collection.job.company, job_path(collection.job))%></span>
        <% if current_user && current_user.is_member_of?(collection.job) %>
          <%= link_to remove_job_path(collection.job), method: :post do %>
            <sapn class="fa fa-star"></sapn>
          <% end %>
        <% else %>
          <%= link_to add_job_path(collection.job), method: :post do %>
            <sapn class="fa fa-star-o"></sapn>
          <% end %>
        <% end %>
      </div>
      <div class="company-mid">
        <sapn class="fa fa-envelope"></sapn><span><%= collection.job.contact_mail %></span>
      </div>
      <div class="company-bot">
        <sapn class="fa fa-map-marker"></sapn><span><%= collection.job.location %></span>
      </div>
    </div>
  </div>
  <% end %>
  </div>
  <div class="col-md-3 side-box">
    <div class="col-md-12 col-md-offset-1">
      <div class="suggest-title">
        <sapn class="fa fa-tags"></sapn> <span>职位推荐</span>
      </div>
      <% @suggests.each do |job| %>
      <div class="suggest-content">
        <div>
          <h3>
            <%= link_to job_path(job), target: "_blank" do %>
              <%= job.name %> [<%= job.location %>]
            <% end %>
          </h3>
        </div>
        <div><p><%= job.wage_lower_bound %> k ~ <%= job.wage_upper_bound %> k</p></div>
        <div><span><%= job.company %></span></div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-10 col-md-offset-1 job-bottom">
  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>
</div>
<% else %>
<div class="col-md-12 job-limit-box text-center">
  <h2>你还没收藏任何职位哦！</h2><br />
  <p><%= link_to("立即查看工作", jobs_path, class: "btn btn-lg btn-success") %></p>
</div>
<% end %>
