<div class="col-md-6 col-md-offset-3 job-resume-box">
  <h3><span class="fa fa-envelope-o"></span> 投递简历</h3>
  <hr>
  <div class="job-info-box">
    <h3><span class="fa fa-tag"></span> <%= @job.name %><span class="company">  / <%= @job.company %></span></h3>
    <p>
      <span class="wage"><%= @job.wage_lower_bound %> k ~ <%= @job.wage_upper_bound %> k </span> /
      <span><span class="fa fa-map-marker"></span> <%= @job.location.name %></span> /
      <span><span class="<%= @job.category.icon %>"> <%= @job.category.name %></span>
     </p>
    <p class="created"><%= @job.created_at.strftime("%Y-%m-%d") %> <span class="website">发布于职赢网</span></p>
  </div>
  <hr />
  <div>
  <%= simple_form_for [@job,@resume] do |f| %>
    <div>
      <%= f.input :content, :label => false, placeholder: '请输入简历描述', input_html: { class: 'resume-content' }  %>
      <%= f.input :attachment, label: '上传简历', input_html: { class: 'resume-attachment' }  %>
    </div>
    <div class="form-actions-resume">
      <%= f.submit "立即投递", disable_with: "Submiting...", class: "button"%>
    </div>
  <% end %>
  </div>
</div>
