<header id="home" data-spy="scroll" data-target="#top-nav">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-4" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <%= link_to root_path, class: "navbar-brand default-logo scroll" do %>
                          <%= image_tag("logo.png", :class => "logo_img") %> 职赢网
                        <% end %>
                    </div>
                    <div class="collapse navbar-collapse top-nav" id="menu-4">
                        <ul class="nav navbar-nav navbar-left">
                          <li><%= link_to("首页", root_path, class: "scroll") %></li>
                          <li><%= link_to("工作", jobs_path, class: "scroll") %></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li class="divider" role="separator"></li>
                            <% if !current_user %>
                              <li><%= button_to("登录", new_user_session_path, method: :get, class: "btn btn-default navbar-btn") %></li>
                              <li><%= button_to("注册", new_user_registration_path, method: :get, class: "btn btn-default navbar-btn") %> </li>
                            <% else %>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <%= current_user.name %>，你好！
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <% if current_user.admin? %>
                                    <li> <%= link_to("企业专区", admin_jobs_path) %> </li>
                                    <li class="divider"> </li>
                                  <% end %>
                                    <li> <%= link_to("我的收藏", account_collections_path) %> </li>
                                    <li> <%= link_to("投递历史", account_resumes_path) %> </li>
                                    <li class="divider" role="separator"></li>
                                    <li> <%= link_to("退出", destroy_user_session_path, method: :delete) %> </li>
                                </ul>
                              </li>
                            <% end %>
                        </ul>
                        <%= form_tag search_jobs_path, :method => :get, class: "navbar-form navbar-right" do %>
                          <div class="input-group search-box">
                            <input type="text" class="form-control" name="keyword" placeholder="搜索职位、公司或地点" value="<%= params[:keyword] %>">
                            <div class="input-group-btn">
                              <button class="btn btn-default" type="submit">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                          </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
