<!DOCTYPE html>
<html>
  <head>
    <title>职赢网 - 企业专区</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body>
    <div class="container-fluid admin-content">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
        <div class="row">
          <div class="col-md-2 nav-sidebar">
            <ul class="list-unstyled">
               <li><%= link_to admin_jobs_path do %> <span class="fa fa-vcard-o"></span> <span>职位管理</span><% end %></li>
               <% if current_user.website_admin? %>
                 <li><%= link_to admin_locations_path do %> <span class="fa fa-location-arrow"></span> <span>工作地点管理</span><% end %></li>
                 <li><%= link_to admin_categories_path do %> <span class="fa fa-cogs"></span> <span>职位类型管理</span><% end %></li>
               <% end %>
               <li><%= link_to admin_jobs_path do %> <span class="fa fa-file-text-o"></span> <span>页面管理</span><% end %></li>
               <li><%= link_to admin_jobs_path do %> <span class="fa fa-user-circle-o"></span> <span>帐号设置</span><% end %></li>
            </ul>
          </div>
          <div class="col-md-10">
            <%= yield %>
          </div>
       </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
